data/raw/*
data/processed/*

!data/raw/.gitkeep
!data/processed/.gitkeep

*.pyc
__pycache__/
.env
.venv/
.ipynb_checkpoints/

experiments/baseline/*.joblib
experiments/logistic_regression/*.joblib
experiments/logistic_regression/runs/*/*.joblib
experiments/linear_svc/*.joblib
experiments/linear_svc/runs/*/*.joblib
models/*.joblib
CLAUDE.md
