data/processed/*

!data/processed/.gitkeep

*.pyc
__pycache__/
.env
.venv/
.ipynb_checkpoints/

experiments/baseline/*.joblib
experiments/logistic_regression/*.joblib
experiments/logistic_regression/runs/*/*.joblib
experiments/linear_svc/*.joblib
experiments/linear_svc/runs/*/*.joblib
models/*.joblib
!models/linear_svc_pipeline.joblib
!models/logistic_regression_pipeline.joblib
CLAUDE.md
